{% extends 'IMDCTerpTubeBundle:_Base:base.html.twig' %}

{% block title %}Add Members to Group{% endblock title %}

{% block sidebarlinks_groups %}class="active"{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <p>
                    {% if app.user == group.userFounder %}
                        <a class="btn btn-default" href="{{ path('imdc_group_edit', {'usergroupid': group.id}) }}"><i class="fa fa-edit"></i> Edit Group</a>
                        <a class="btn btn-default" href="{{ path('imdc_group_delete', {'usergroupid': group.id}) }}"><i class="fa fa-times"></i> Delete Group</a>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <img class="img-responsive center-block" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <hr class="tt-separator-top" />
                {% if nonMembers|length > 0 %}
                    {% include 'IMDCTerpTubeBundle:_Member:thumbnail.html.twig' with {'members': nonMembers} %}
                {% else %}
                    <p class="text-center" style="margin-bottom: 20px;">No members</p>
                {% endif %}
                {{ knp_pagination_render(nonMembers) }}
                <hr class="tt-separator-bottom" />
            </div>
        </div>
    </div>
{% endblock content %}
