{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}
{% block flashmessages %}
	{% for type, messages in app.session.flashbag.all() %}
		{% for key, message in messages %}
       		<div class="flash-{{ type }}">
            	{{ message|trans }}
            </div>
      	{% endfor %}
   	{% endfor %}
{% endblock flashmessages %}

{% block herounit %}
<h1>Welcome to TerpTube</h1>
{% endblock herounit %}