{#
included by:
Forum:view.html.twig
#}

{% extends "IMDCTerpTubeBundle:Media:mediaElement.html.twig" %}

{% block mediaimagetype %}
	<div class="row">
		<img class="forum-img-thumbnail" src="{{ asset(mediaFile.getResource.getWebPath) }}" />
	</div>
{% endblock mediaimagetype %}

{% block mediavideotype %}
	<div class="row">
		{{ parent() }}
	</div>
{% endblock mediavideotype %}

{% block mediaaudiotype %}
	<div class="row">
		{{ parent() }}
	</div>
{% endblock mediaaudiotype %}
