{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% block title %}Forums{% endblock %}

{% block sidebarlinks_pages %}class="active"{% endblock %}

{% block content %}
	<div class="col-md-offset-1 col-md-10">
		{% if is_granted('ROLE_CREATE_FORUMS') %}
			<!--<div class="row">
			<div class="col-md-2">
				<form class="form">
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" type="text" placeholder="Search forums...">
							<div class="input-group-addon" type"submit"><i class="fa fa-search"></i></div>
						</div>
					</div>
				</form>
			</div>
		</div>-->
			<div class="row">
				<div class="col-md-12">
					<p>
						<a class="btn btn-default" href="{{ path('imdc_forum_new') }}"><i class="fa fa-plus"></i> Create New Forum</a>
					</p>
				</div>
			</div>
		{% endif %}
		<!-- recent forum activity -->
		<div class="row">
			<div class="col-md-12">
				<img class="img-responsive center-block" src="" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr class="tt-separator-top" />
				{% if recentForums|length > 0 %}
					{% include 'IMDCTerpTubeBundle:Forum:thumbnail.html.twig' with {'forums': recentForums, 'forumThreadCount': recentForumThreadCount} %}
				{% else %}
					<p class="text-center" style="margin-bottom: 20px;">No recent forums</p>
				{% endif %}
				<hr class="tt-separator-bottom" />
			</div>
		</div>
		<!-- all forums -->
        {% include 'IMDCTerpTubeBundle:Forum:list.html.twig' %}
	</div>
{% endblock content %}
