.tt-media-element {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.tt-media-thumbnail {
  @extend .tt-media-element;

  $height: 230px;

  height: $height;

  > div {
    video, img {
      max-height: $height;
    }
  }
}

.tt-media-video, .tt-media-audio {
  width: 100%;
}

.tt-media-pip-video {
  position: absolute;
  top: 0;
  height: 25%;
}

.tt-media-img {

}
