.tt-member-grid-thumbnail {
  @extend .tt-grid-thumbnail;

  $img-height: 125px;

  min-height: 265px;
  cursor: initial;

  > div:first-of-type {
    height: $img-height;

    > div {
      img {
        max-height: $img-height;
      }
    }
  }

  > div:nth-of-type(2) > p:first-of-type {
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
