.tt-myFiles-previewColumn
{
	padding: 0 !important;
	width: 50px !important;
}

.tt-myFiles-nameColumn
{
	width: 30%;
}

tbody tr td
{
	vertical-align: middle !important;
}

.tt-myFiles-mediaThumbnail a img
{
	max-width: 100%;
}

.tt-myFiles-mediaThumbnail a
{
	width: 100%;
}

.tt-myFiles-grid {
  margin-top: 15px;
}

.tt-myFiles-grid-thumbnail {
  @extend .tt-grid-thumbnail;

  > input:first-of-type[type='checkbox'] {
    position: absolute;
    margin: 4px;
    z-index: 1;
  }

  > div:nth-of-type(1) {
    height: 175px;
    margin-bottom: 5px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    > div {
      position: relative;
      top: 50%;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      transform: translateY(-50%);

      > img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
      }
    }
  }

  > div:nth-of-type(2) {
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    display: inline-block;

    > span:nth-of-type(1) i.fa {
      vertical-align: middle;
    }

    > span:nth-of-type(2) {
      position: absolute;
      right: 20px;
      bottom: 25px;
      display: none;
    }
  }

  &:hover > div:nth-of-type(2) > span:nth-of-type(2) {
    display: inline-block;
  }
}

.tt-myFiles-list-table {
  @extend .tt-list-table;

  margin-bottom: 8px;
}
