{#
included by:
UserGroup:index.html.twig
#}

<div class="col-md-12">
	<a class="btn btn-primary" href="{{ path('imdc_group_create_new') }}"><i class="fa fa-plus"></i> Create new group</a>
</div>
<p></p>
