{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% block title %}{{usergroup.name}}{% endblock title %}

{% block herounit %}<h1>{{ usergroup.name }}</h1>{% endblock %}

{% block underherounitrow1 %}
<div class="span10">
    <p>Name: {{ usergroup.name }}</p>
    <p>Members: {{ usergroup.members|length }}</p>
</div>
{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
{% endblock underherounitrow2 %}