{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% if isMyGroups is not defined %}
    {% set isMyGroups = false %}
{% endif %}

{% block title %}
    {% if isMyGroups %}My {% endif %}Groups
{% endblock %}

{% block nav_ul_my_groups %}
    {% if isMyGroups %}class="active"{% endif %}
{% endblock %}

{% block sidebarlinks_groups %}
    {% if not isMyGroups %}class="active"{% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a class="btn btn-default" href="{{ path('imdc_group_new') }}"><i class="fa fa-plus"></i> Create New Group</a>
                </p>
            </div>
        </div>
        <!-- groups -->
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive center-block" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="tt-separator-top" />
                {% if groups|length > 0 %}
                    {% include 'IMDCTerpTubeBundle:Group:thumbnail.html.twig' %}
                {% else %}
                    <p class="text-center" style="margin-bottom: 20px;">No groups</p>
                {% endif %}
                <hr class="tt-separator-bottom" />
            </div>
        </div>
    </div>
{% endblock content %}
