{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% block title %}Home{% endblock %}

{% block header %}
    {{ parent() }}

    <script type="text/javascript">
        require([
            'bootstrap',
            'controller/homeController', 'views/home/indexView',
            'main'
        ], function(bootstrap, HomeController, HomeView) {
            bootstrap(
                    null,
                    HomeController,
                    HomeView,
                    {
                        container: $('body')
                    }
            );
        });
    </script>
{% endblock header %}

{% block sidebarlinks_home %}class="active"{% endblock %}

{% block content %}
    <div class="col-md-12">
        <!-- forums -->
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <img class="img-responsive center-block" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <hr class="tt-separator-top" />
                {% if forums|length > 0 %}
                    {% include 'IMDCTerpTubeBundle:Forum:thumbnail.html.twig' %}
                {% else %}
                    <p class="text-center" style="margin-bottom: 20px;">No forums</p>
                {% endif %}
                <hr class="tt-separator-bottom" />
            </div>
        </div>
        <!-- groups -->
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <img class="img-responsive center-block" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <hr class="tt-separator-top" />
                {% if groups|length > 0 %}
                    {% include 'IMDCTerpTubeBundle:Group:thumbnail.html.twig' %}
                {% else %}
                    <p class="text-center" style="margin-bottom: 20px;">No groups</p>
                {% endif %}
                <hr class="tt-separator-bottom" />
            </div>
        </div>
    </div>
{% endblock content %}
