{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% block herounit %}
<h1>Hello there this is your page after you log in!</h1>
<a href="{{ path('imdc_message_view_all') }}">View all messages</a>
<p><a href="{{ path('imdc_terp_tube_user_profile') }}">View your profile</a></p>
{% endblock herounit %}
