{# src IMDCTerpTubeBundle/Resources/view/Message/inboxlist.html.twig #}
<div class="row">
    <div class="col-md-5">
        <ul class="inbox-list nav nav-tabs">
            <li><a href="{{ path('imdc_message_view_all') }}">Inbox</a></li>
            <li><a href="{{ path('imdc_message_view_sent_messages') }}">Sent</a></li>
            <li><a href="{{ path('imdc_message_view_archive') }}">Archive</a></li>
        </ul>
    </div>
</div>
