{# src IMDCTerpTubeBundle/Resources/view/Message/inboxlist.html.twig #}
<div class="row">
    <div class="col-md-5">
        <ul class="inbox-list nav nav-tabs">
            <li><a href="{{ path('imdc_message_inbox') }}">Inbox</a></li>
            <li><a href="{{ path('imdc_message_sent') }}">Sent</a></li>
            <li><a href="{{ path('imdc_message_archive') }}">Archive</a></li>
        </ul>
    </div>
</div>
