{# src/IMDC/TerpTubeBundle/Resources/views/Message/new.html.twig #}
{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% block herounit %}
<h1>Send a private message</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
{{  form(form) }}
{% endblock underherounitrow1 %}

