{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% block herounit %}
    <h1>Inbox</h1>
    <h2>Your messages appear below:</h2>
{% endblock herounit %}
{% block underherounitrow1 %}
    <h2>Private Messages</h2>
    <table>
        <th>From</th><th>Subject</th><th>Content</th>
        {% for message in messages %}
            <tr><td>{{ message.user }}</td><td>{{ message.subject }}</td><td>{{ message.content }}</td></tr>
        {% else %}
            <tr>No messages yet</tr>
        {% endfor %}
    </table>
{% endblock underherounitrow1 %}
{% block underherounitrow2 %}
    <h2>Notifications</h2>
    <table>
        <th>Message</th>
        {% if notifications is defined %}
            {% for notification in notifications %}
                <tr><td>{{ notification.message }}</td></tr>
            {% endfor %}
        {% else %}
            <tr><td>No notifications</td></tr>
        {% endif %}
    </table>
{% endblock underherounitrow2 %}