{% extends "IMDCTerpTubeBundle:Default:index.html.twig" %}

{%  set page_title = 'title.' ~ app.request.attributes.get('_route') %}

{%  block herounit %}
	<h1>{{ page_title|trans({}, 'FOSUserBundle') }}</h1>
{%  endblock herounit %}

{% block underherounitrow1 %}
	{% block fos_user_content %}
	{% endblock fos_user_content %}
{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
{% endblock underherounitrow2 %}
