{#
ajaxed by:
TerpTube.Core.MediaChooser
#}

<div class="container-fluid mediachooser-container-select">
    <div class="row">
        <div id="preview"></div>
    </div>
    {% include 'IMDCTerpTubeBundle:MyFiles:list.html.twig' with {'isSelect': true} %}
</div>
