{#
included by:
_Thread:view.html.twig
#}

{% extends 'IMDCTerpTubeBundle:Media:element.html.twig' %}

{% block mediavideotype %}
    {#<ul class="list-unstyled tt-thread-video-controls">#}
        {#<li>#}
            {#<a id="videoSpeed" href="#" title="Click to change video playback speed">#}
                {#<img src="{{ asset('bundles/imdcterptube/img/player/playback-speed-normal.png') }}" />#}
            {#</a>#}
        {#</li>#}
        {#<li>#}
            {#<a id="closedCaptions" href="#" title="Click to show/hide captions">#}
                {#<img src="{{ asset('bundles/imdcterptube/img/player/closedCaptioning.jpg') }}" />#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}
    {% set enableControls = false %}
    {% set preloadMedia = true %}
    {{ parent() }}
{% endblock mediavideotype %}
