{% trans_default_domain 'IMDCTerpTubeBundle' %}

<div class="tt-media-preview">
    <div class="tt-media-preview-title">
        <input type="text" id="mediaPreviewTitle" value="{{ mediaFile.title }}" />
    </div>

    {% include 'IMDCTerpTubeBundle:Media:element.html.twig' with {'enableControls': false, 'preloadMedia': true} %}

    {% block preview %}
    {% endblock preview %}
</div>
