{#
included by:
Thread:threadthumbnailprototype.html.twig
#}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% set profile = member.getProfile %}

<div class="row">
	<a href="{{ path('imdc_profile_user', {'userName' : member.userName}) }}"><img class="img-responsive avatar" alt="avatar" src="{{ profile.avatar ? asset(profile.avatar.getResource.getWebPath):asset('bundles/imdcterptube/img/no_avatar.jpg')}}" alt="" width="96px" /></a>
</div>

<div class="row">
	<a href="{{ path('imdc_profile_user', {'userName' : member.userName}) }}">{{ member.userName }}</a>
</div>
