@CHARSET "UTF-8";

img.forum-img-thumbnail {
    max-height: 200px;
}

video.forum-video-thumbnail {
    width: 100%;
    max-height: 200px;
}

/* new thread file box */
textarea#ThreadForm_mediatextarea {
    vertical-align: top;
}

div.threadthumbnail {
    min-height: 250px;
    max-height: 375px;
    height: 375px;
}

div.thumbnail audio {
    width: 100%;
}

a#selectFiles {
    vertical-align: top;
}

#ThreadForm_submit, #ForumForm_submit {
    display: none;
}

span.thread-date-span {
    color: #aaa;
    font-size: 0.8em;
}

.post-reply-user-avatar-wrap {
    padding-top: 30px;
}