/* content field for composing a new private message */
#PrivateMessageForm_content, #PrivateMessageReplyForm_content {
	width: 100%;
	height: 100%;
	min-height: 20em;
}
body {
	padding-top: 1em;
}

ul.nav-list img {
    margin-top: 5px;
    width: 36px;
}

span.content-created-datetime-span {
    font-size: 0.7em;
}

div.mainsidebarnav {
  /*   min-width: 100px; */
}
