@CHARSET "UTF-8";

.videoControlsContainer.controlsBar.forwardButtons.cutButton
{
	background-image: url(../img/crop_video_small.png); 
	background-repeat: no-repeat;	
	margin-top:0px;
}

.videoControlsContainer.controlsBar.forwardButtons.doneButton
{
	background-image: url(../img/player/submit_small.png); 
	background-repeat: no-repeat;
	margin-top:0px;	
}