@CHARSET "UTF-8";

div.message-info-header {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 7px 5px 5px 5px;
}

div.message-content-wrap {
	min-height: 300px !important;
	padding: 10px;
}

div.lastbottomborder {
	border-bottom: 1px solid #ccc;
}