@CHARSET "UTF-8";

img.forum-img-thumbnail {
    max-height: 200px;
}

video.forum-video-thumbnail {
    width: 100%;
    max-height: 200px;
}

/* new thread file box */
textarea#ThreadForm_mediatextarea {
    vertical-align: top;
}

div.threadthumbnail {
    min-height: 310px;
}

.thumbnail-video video {
    max-height: 200px;
}

div.postthumbnail {
	min-height: 220px;
}

div.post-thumb-content {
    overflow-y: auto;
    margin-top: 15px;
}

div.thumbnail audio {
    width: 100%;
}

.threadthumbnail video {
    max-width: 85%;
}

div.thread-title-wrap {
    min-height: 7em;
}

.post-reply-user-avatar-wrap {
    padding-top:30px;
}

span.thread-date-span {
    color: #aaa;
    font-size: 0.8em;
}