@CHARSET "UTF-8";

video {
	max-width: 640px;
}

.simultaneousVideoRecording {
	max-width: 640px;
}

div .video {
	display: inline;
}

.video video { /* 	width: 50%; */
	width: 100%;
	display: inline;
}

.sourceVolumeControl {
	display: inline-block;
	float: right;
	outline: 1px solid;
	margin-right: 40px;
	margin-top: -5px;
}

.sourceVolumeControl div {
	float: left;
	margin: 0px;
	word-wrap: break-word;
	height: 40px;
}

.pipstyle {
	width: 160px;
	height: 120px;
	z-index: 2;
	position: absolute;
	/*border: 1px solid lightgray;*/
}

.sourcestyle {
	width: 640px;
	/* height: 360px; */
	z-index: 0;
	/*          float: left;*/
	position: relative;
}

.xclosepip {
	position: absolute;
	top: -5px;
	right: -5px;
	z-index: 3;
	cursor: pointer;
}


#videoContainer {
	display: inline-block;
	position: relative;
	background-color:black;
}

#hidePIP {
	float: left;
	background-color: white;
	outline: 1px solid black;
	padding: 2px;
	text-align: center;
	width: 80px;
}

#swapPIP {
	float: right;
	background-color: white;
	outline: 1px solid black;
	padding: 2px;
	margin-left: 5px;
	text-align: center;
	width: 80px;
}