@CHARSET "UTF-8";

#maincontent {
    min-height: 4em;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 3px;
}

div#mediaFileWrap, div#mediaFileWrap img {
    max-height: 720px;
}

#rightsidecontent {
/*     border: 1px dotted #cdcdcd;
 */
 max-height: 90%;
 }

div.post-reply-wrap {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding-top: 5px;
}

div.post-reply-date {
    font-size: 11px;
    color: #aaa;
}

div.post-reply-content {
    max-height: 600px;
    overflow-y: auto;
}

a#selectFiles {
	vertical-align: top;
}

#PostFormFromThread_content {
    width: 90%;	
}

#PostFormFromThread_submit {
	display: none;
}

div#thread-reply-container {
	max-height: 900px;
	overflow-y: auto;
	overflow-x: visible;
}

.videoControlsContainer.timeBox {
    font-size: 1.6em !important;
}

img.post-reply-image {
    max-height: 350px;
}