@CHARSET "UTF-8";

#maincontent {
    min-height: 4em;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 3px;
    max-height: 900px;
    overflow-x: auto;
}

div#mediaFileWrap, div#mediaFileWrap img {
    max-height: 720px;
    margin-bottom: 10px;
}

#rightsidecontent {
/*     border: 1px dotted #cdcdcd;
 */
 max-height: 90%;
 }

div.post-reply-wrap {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 15px;
}

div.post-reply-date {
    font-size: 11px;
    color: #aaa;
}

div.post-reply-content {
    max-height: 600px;
    overflow-y: auto;
}

a#selectFiles {
	vertical-align: top;
}

#PostFormFromThread_content {
    width: 90%;	
}

#PostFormFromThread_submit {
	display: none;
}

div#thread-reply-container {
	max-height: 900px;
	overflow-y: auto;
	overflow-x: visible;
}

.videoControlsContainer.timeBox {
    font-size: 1.6em !important;
}

img.post-reply-image {
    max-height: 350px;
}


.thread-video-supplemental-controls-wrap {
/*     position: absolute;
    top: 188px;
    left: 191px; */
}

.supp-video-controls {
    position: absolute;
}

.supp-video-controls li img {
    max-width: 24px;
    margin-top: 5px;
    margin-left: 5px;
}

span.edited-text-span {
    color: #aaa;
    font-size: 0.9em;
}

#ThreadEditForm_title {
    width: 60%;
}

#ThreadEditForm_content {
    width: 70%;
}

.postBorderHighlight {
    border: 2px solid red !important;
}

img.avatar {
    max-height: 150px;
}

div.temporal-post-wrap {

}

.div-video-timeline {
    height: 30px;
}

#back-timeline {
    background: #ddd;
    border: 1px solid #bbb;
    height: 5px;
    width: 99%;
}

.front-comment-div {
    height: 5px;
    position: relative;
    cursor: pointer;
}

#spacerdiv {
     height: 400px;
}