{#
ajaxed by:
TerpTube.Controller.Post
#}

<div class="row post-container-delete" data-pid="{{ postId }}">
    <div class="col-md-12">
        <p class="text-success">
            <i class="fa fa-check"></i> {{ message }}
        </p>
    </div>
</div>
