{#
included by:
Thread:threadthumbnailprototype.html.twig
Thread:viewthread.html.twig
#}

{% extends "IMDCTerpTubeBundle:Media:mediaElement.html.twig" %}

{% block mediaimagetype %}
	<div class="row thumbnail-image">
		<img class="forum-img-thumbnail" src="{{ asset(mediaFile.getResource.getWebPath) }}" />
	</div>
{% endblock mediaimagetype %}

{% block mediavideotype %}
	<div class="row thumbnail-video">
		{{ parent() }}
	</div>
{% endblock mediavideotype %}

{% block mediaaudiotype %}
	<div class="row thumbnail-audio">
		{{ parent() }}
	</div>
{% endblock mediaaudiotype %}
