{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% block stylesheets %}
<link href="{{ asset('bundles/imdcterptube/css/mediaPreview.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

<div class="preview-media">
	<div class="row preview-title">
		<input type="text" id="preview-media-title" value="{{ mediaFile.title }}" />
	</div>
	{% block preview_media %}
	{% endblock preview_media %}
</div>

{% block javascripts %}
{% endblock javascripts %}
