{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% block stylesheets %}

{% endblock stylesheets %}

<div class="preview-media">
	{% block preview_media %}
	{% endblock preview_media %}
</div>

{% block javascripts %}
{% endblock javascripts %}
