{% extends "IMDCTerpTubeBundle:MyFilesGateway:previewMedia.html.twig" %}
{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% block preview_media %}

<div class="row-fluid preview-visual">
	{% block motionMedia %}
	
	{% endblock motionMedia %}
</div>
<div class="row-fluid preview-controls">
	{% block motionControls %}
	
	{% endblock motionControls%}
</div>

{% endblock preview_media %}
