{#
included by:
_Member:infoBlock.html.twig
_Post:post.html.twig
#}

<ul class="list-unstyled list-inline">
    <li>
        {% if app.user.getId == member.getId %}
            <i class="fa fa-envelope-o" style="color: lightgray;"></i>
        {% else %}
            <a href="{{ path('imdc_message_user_specific', {'userid': member.getUserName}) }}" title="Send a message to {{ member.getUserName }}"><i class="fa fa-envelope-o"></i></a>
        {% endif %}
    </li>
    <li>
        {% if app.user.getId == member.getId %}
            <i class="fa fa-user" style="color: lightgray;" title="This is you"></i>
        {% elseif app.user.isUserOnFriendsList(member) %}
            <i class="fa fa-group" style="color: green;" title="Already friends"></i>
        {% else %}
            <a href="{{ path('imdc_add_to_friends_list', {'userid': member.getId}) }}" title="Click to add {{ member.getUserName }} to your friends list"><i class="fa fa-plus"></i></a>
        {% endif %}
    </li>
</ul>
