<video class="mediachooser-container-record-video" width="100%" id="record" preload="auto" autoplay="autoplay" muted="muted"></video>

<div class="mediachooser-container-upload-video-recording" style="display: none;">
    <label>Uploading...</label>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            0%
        </div>
    </div>
</div>
