.tt-media-element {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.tt-media-thumbnail {
  @extend .tt-media-element;

  $height: 230px;

  height: $height;

  > div {
    video, img {
      max-height: $height;
    }
  }
}

.tt-media-video, .tt-media-audio {
  width: 100%;
}

.tt-media-pip-video {
  position: absolute;
  top: 0;
  height: 25%;
  z-index: 1;
}

.tt-media-img {

}

.tt-media-video-controls {
  $padding: 10px;
  $max-width: 24px;

  position: absolute;
  top: 0;
  right: 0;
  padding: $padding;
  max-width: $max-width + ($padding * 2);
  text-align: center;

  img {
    max-width: $max-width;
    margin-bottom: 10px;
    cursor: pointer;

    &:last-of-type {
      margin-bottom: initial;
    }
  }
}

.tt-media-preview-title {
  margin-bottom: 10px;

  & input {
    width: 100%;
  }
}

.tt-media-no-thumbnail {
  padding: 20px;
  width: 125px;
  height: 125px;
  position: relative;
}

// tt-media-no-thumbnail (tt-mnt)
.tt-mnt {
  @mixin shape-color($border-color, $bg-color) {
    border: 3px solid $border-color;
    background-color: $bg-color;
  }

  &-square {
    border-radius: 24px;
  }

  &-circle {
    border-radius: 60px;
  }

  &-sky {
    @include shape-color(#418FA2, #59BAD1);
  }

  &-green {
    @include shape-color(#839950, #AAC46C);
  }

  &-orange {
    @include shape-color(#C4803F, #FAA757);
  }

  &-red {
    @include shape-color(#9F4B46, #CD665F);
  }

  &-purple {
    @include shape-color(#715D89, #937AB2);
  }

  &-blue {
    @include shape-color(#47729C, #6095C9);
  }

  &-text {
    font-family: 'Mini Pics ASL';
    font-size: 7em;
    color: white;
    text-shadow: 0 0 8px #444;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
